body {
    position: relative;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: absolute;
    transition: transform 1s ease;
    cursor: pointer;
}

img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.card:hover {
    transform: rotateY(180deg);
}

#copas-a {
    top: 50px;
    left: 50px;
    z-index: 1;
}

#copas-2 {
    z-index: 2;
    top: 125px;
    left: 150px;
}

#copas-3 {
    z-index: 3;
    top: 200px;
    left: 250px;
}

#copas-4 {
    z-index: 4;
    top: 275px;
    left: 350px;
}

#copas-5 {
    z-index: 5;
    top: 355px;
    left: 450px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}